@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



body {
    @apply font-sans;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-title;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/*Notifications*/

.notification-badge {
    background-color: rgb(153,26,20);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
    margin-right: 10px;
    flex-shrink: 0;
}
